{% extends 'mainapp/base_2.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h1 style="margin-top: 130px">Авторизация</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn justify-content-center">Войти</button>
        </form>
        <h3 style="margin-top:50px">Если вы еще не зарегистрированы, сделайте это по ссылке ниже!</h3>
        <a class="link-register" href="{% url 'authapp:register' %}">Нажать для регистрации</a>
        <div class="img-action" >
            <img class="rounded float-right" src="{% static 'img/action.png' %}" class="" alt="" >
        </div>
    </div>
{% endblock %}