@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;600&display=swap');

:root {
    --beige--: #957654;
}

:root {
    --brown--: #31231c;
}

:root {
    --main-color--: white;
}

body {
    background: var(--main-color--);
    width: 100%;
    height: 100vh;

}

.container {
    width: 1525px;
}

.container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

label {
    font-family: Mulish;
    font-size: 20px;
    color: var(--brown--);
}

h1 {
    font-family: Mulish;
    font-size: 40px;
    color: var(--brown--);
    margin-bottom: 20px;
}

.icons {
    display: flex;
    align-items: center;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
}

.navbar {
    background: var(--beige--);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10000;
    width: 100%;
}

.nav-link a {
    padding: 10px;
    color: white;
    transition: 0s;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: var(--brown--);
    transition: 0.5s;
}

.nav {
    width: 100%;
    display: flex;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: center;
    width: 100%;
}

.nav-link {
    text-decoration: none;
    font-family: Mulish;
    font-size: 20px;
    color: white;
}

.nav-link:hover {
    text-decoration: none;
    font-family: Mulish;
    font-size: 20px;
    color: var(--brown--);
}

.navbar-light .navbar-nav .nav-link {
    margin-left: 10px;
    font-family: Mulish;
    font-weight: normal;
    font-size: 20px;
    color: white;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.fa-solid {
    font-size: 20px;
    color: white;
    margin-left: 10px;
    transition: 0s;
}

.fa-solid:hover {
    font-size: 20px;
    color: var(--brown--);
    margin-left: 10px;
    transition: 0.5s;
}

.h2 {
    font-family: Mulish;
    font-weight: Bold;
    font-size: 40px;
    color: var(--brown--);
}

h2 {
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: Mulish;
    font-weight: Bold;
    font-size: 40px;
    color: var(--brown--);
}

.form-control:focus {
    color: var(--brown--);
    background-color: #fff;
    border-color: var(--beige--);
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--beige--);
    opacity: 0.7;
}

.form-check-input:focus {
    background-color: var(--beige--);
    border-color: var(--beige--);
}

.form-input {
    margin-top: 20px;
    height: 450px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-floating > .form-control {
    width: 420px;
    padding: 10px;
    border: 0;
}

.form-floating {
    border-radius: 20px;
}

.form-floating > label {
    position: absolute;
    top: 0;
    left: 10px;
    height: 100%;
    padding: 1rem .75rem;
    pointer-events: none;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out, transform .1s ease-in-out;
}


.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.col-sm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rectangle-plus {
    margin-bottom: 20px;
    width: 1300px;
    height: 1px;
    background: var(--brown--);
}
.text-delivery{
    font-family: Mulish;
    font-size: 25px;
    color: var(--brown--);
    width: 1250px;
}

.h3 {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 800px;
    font-size: 30px;
    color: var(--brown--);
    font-family: Mulish;
    font-weight: bold;
}

h3 {
    margin-top: 110px;
    margin-bottom: 30px;
    width: 800px;
    font-size: 30px;
    color: var(--brown--);
    font-family: Mulish;
    font-weight: bold;
}
.block-end {
    margin-top: 100px;
    width: 100%;
    height: 300px;
    background: var(--beige--);
}

.footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.form-email {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-logo-pay {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.pay {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.social-network {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.network {
    display: flex;
    justify-content: space-between;
    width: 22%;
}

.menu {
    margin-top: 50px;
}

.fa-brands {
    font-size: 30px;
    color: white;
}

.txt-footer-network {
    display: flex;
    width: 300px;
    font-size: 20px;
    font-family: Mulish;
    color: white;
}

.txt-footer-email {
    display: flex;
    width: 300px;
    font-size: 20px;
    font-family: Mulish;
    color: white;
    text-align: left;
}

.txt-footer-link {
    text-decoration: none;
    display: flex;
    font-size: 20px;
    font-family: Mulish;
    color: white;
    text-align: left;
    transition: 0s;
}

.txt-footer-link:hover {
    text-decoration: none;
    display: flex;
    font-size: 20px;
    font-family: Mulish;
    color: var(--brown--);
    text-align: left;
    transition: 0.5s;
}

.form-footer {
    width: 250px;
    height: 35px;
    background: white;
    color: var(--brown--);
    font-size: 13px;
    font-family: Mulish;
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 5px;
}

.form-footer:hover {
    width: 250px;
    height: 35px;
    background: white;
    color: var(--brown--);
    font-size: 13px;
    font-family: Mulish;
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 5px;
}

.btn-footer {
    padding: 5px;
    width: 150px;
    height: 35px;
    background: var(--brown--);
    color: white;
    font-size: 13px;
    font-family: Mulish;
    border: none;
    border-radius: 0 5px 5px 0;
}

.txt-footer {
    display: flex;
    justify-content: center;
    width: 300px;
    font-size: 10px;
    font-family: Mulish;
    color: white;
}

.year {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.dropdown-item {
    font-family: Mulish;
    font-weight: normal;
    font-size: 18px;
    color: var(--brown--);
}

.dropdown-item:hover {
    position: relative;
    display: block;
    padding: .5rem 1rem;
    color: white;
    background: var(--brown--);
    font-size: 18px;
    font-family: Mulish;
    text-decoration: none;
    transition: 0.5s;
}
