{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title|capfirst }} | Империя мебели</title>
    <link rel="shortcut icon" href="{% static 'img/vip.png' %}" type="image/x-icon">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style_catalog.css' %}" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js">
        $(function () {
            $('.list-group list-group-flush').each(function () {
                var location = window.location.href;
                var link = this.href;
                if (location == link) {
                    $(this).addClass('active');
                }
            });
        });
    </script>
</head>
<body>
<nav class="container-fluid navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href=""><img src="{% static 'img/Logo.png' %}"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <a class="nav-link" aria-current="page" href="{% url 'mainapp:index' %}">Главная</a>
                <div class="dropdown">
                    <div class="" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                         aria-expanded="false">
                        <a class="nav-link " aria-current="page" href="{% url 'mainapp:catalog_hits' %}">Каталог</a>
                    </div>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="{% url 'mainapp:catalog_hits' %}">Хиты</a></li>
                        <li><a class="dropdown-item" href="{% url 'mainapp:catalog' %}">Шкафы</a></li>
                        <li><a class="dropdown-item" href="{% url 'mainapp:catalog_kitchen' %}">Кухонные гарнитуры</a></li>
                        <li><a class="dropdown-item" href="{% url 'mainapp:catalog_wall_furniture' %}">Гостинные</a></li>
                        <li><a class="dropdown-item" href="{% url 'mainapp:catalog_hallway' %}">Шкафы-прихожие</a></li>
                        <li><a class="dropdown-item" href="{% url 'mainapp:catalog_sofa' %}">Диваны</a></li>
                        <li><a class="dropdown-item" href="{% url 'mainapp:catalog_table' %}">Столы</a></li>
                    </ul>
                </div>
                <a class="nav-link " aria-current="page" href="{% url 'mainapp:index' %}">Дизайн</a>
                <a class="nav-link" aria-current="page" href="{% url 'mainapp:delivery' %}">Доставка</a>
                <a class="nav-link" aria-current="page" href="{% url 'mainapp:index' %}">Контакты</a>
                <a class="nav-link" aria-current="page" href="tel:+79658392683">8(965)-839 26 83</a>
            </ul>
            <div class="icons">
                {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'mainapp:favorite' %}">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                {% endif %}
                <div class="dropdown">
                    <div class="" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                         aria-expanded="false">
                        <a class="nav-link " aria-current="page" href="">
                            <i class="fa-solid fa-user"></i></a>
                    </div>
                    <ul class="dropdown-menu">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="dropdown-item" href="{% url 'authapp:logout_exit' %}">Выйти</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="dropdown-item" href="{% url 'authapp:register' %}">Регистрация</a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item" href="{% url 'authapp:login' %}">Авторизация</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
{% block content %}

{% endblock %}
<footer>
    <div class="block-end">
        <div class="container">
            <div class="footer">
                <div class="block-logo-pay">
                    <img src="{% static 'img/Logo.png' %}" height="65" width="136"/>
                    <div class="pay">
                        <i class="fa-brands fa-cc-mastercard"></i>
                        <i class="fa-brands fa-cc-visa"></i>
                    </div>
                </div>
                <div class="social-network">
                    <p class="txt-footer-network">Наши социальные сети:</p>
                    <div class="network">
                        <a href="https://ok.ru/profile/582818912653"><i
                                class="fa-brands fa-square-odnoklassniki"></i></a>
                        <a href="https://wa.me/79630047573"><i class="fa-brands fa-square-whatsapp"></i></a>
                    </div>
                </div>
                <div class="form-email">
                    <p class="txt-footer-email">Подпишитесь на нашу рассылку, чтобы получать информацию о
                        акциях!</p>
                    <div class="form">
                        <div class="form-1">
                            <input type="email" class="form-footer" placeholder="E-mail">
                        </div>
                        <button class="btn-footer">Отправить</button>
                    </div>
                </div>
                <div class="menu">
                    <a class="txt-footer-link" aria-current="page" href="{% url 'mainapp:index' %}">Главная</a>
                    <a class="txt-footer-link" aria-current="page" href="{% url 'mainapp:catalog_hits' %}">Каталог</a>
                    <a class="txt-footer-link" aria-current="page" href="{% url 'mainapp:delivery' %}">Доставка</a>
                </div>
            </div>
            <div class="year">
                <p class="txt-footer">@2022</p>
            </div>
        </div>
        <a href="#main" title="Вернуться к началу" class="top-button">Наверх</a>
    </div>
</footer>

<script src="https://kit.fontawesome.com/9fae8e4a1d.js" crossorigin="anonymous"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>