{% extends 'mainapp/base_3.html' %}
{% load static %}
{% block content %}
<div id="about us" class="container mt-5">
    <div class="row justify-content-between">
        <div class="col-md-6">
            <div class="col-sm">
                <h3>Условия доставки</h3>
                <div class="rectangle-plus"></div>
                <p class="text-delivery">
                    Доставка готовых заказов осуществляется вторник, четверг, суббота. Водитель обязательно свяжется с Вами за час до прибытия. <br>
                    Стоимость доставки по г. Курган до подъезда составляет 600 рублей.<br>
                    За пределами г. Курган тариф доставки: 25 руб. за 1 км. от города + 600 руб.<br>
                    Заказы передаются в доставку только после предоплаты 30%.<br>
                    Доставка осуществляется с 12-00 до 19-00 ч.<br>
                    В случае невозможности подъезда транспорта к месту разгрузки осуществляется перенос мебели вручную: 99 рублей (каждые 15 метров).
                </p>
            </div>
            <div class="col-sm">
                <h3 class="h3">Сборка мебели</h3>
                <div class="rectangle-plus"></div>
                <p class="text-delivery">
                    Сборка шкафа:<br>
                    - Встроенные шккафы 15% от стоимости заказа.<br>
                    - Отдельностоящие шкафы 10% от стоимости заказа.<br>
                    Сборка кухонного гарнитура:<br>
                    - Кухонный гарнитур до 50.000 руб. 15% от стоимости заказа.<br>
                    - Кухонный гранитур от 50.000 руб. бесплатно.<br>
                    Остальная корпусная мебель:<br>
                    - 15% от стоимости заказа.
                </p>
            </div>
            <div class="col-sm">
                <h3 class="h3">Оплата</h3>
                <div class="rectangle-plus"></div>
                <p class="text-delivery">
                    В нашем магазине возможны следующие формы оплаты:<br>
                    - Наличный расчет.<br>
                    - Оплата банковской картой.<br>
                    - Расчет банковской картой на нашем сайте.<br>
                    Оплата покупки производится в рублях.
                </p>
            </div>
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/9fae8e4a1d.js" crossorigin="anonymous"></script>
<script src="bootstrap/bootstrap.bundle.min.js"></script>
{% endblock %}