{% extends 'mainapp/base_2.html' %}
{% load static %}
{% block content %}
    <div class="container" style="height: 75vh;">
        <h1 style="margin-top: 130px;">Избранное</h1>
        <table class="table my-2 box">
            <tbody>
            {% for item in favorite %}
                <tr>
                    <td class="card-title-1" style="width: 1200px">{{ item.news.content }} {{ item.news.title }}</td>
                    <td>
                        <a href="{% url 'mainapp:remove_favorite' item.id %}" class="btn">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="img-action" style="margin-top: 100px">
            <img class="rounded float-right" src="{% static 'img/action.png' %}" class="" alt="">
        </div>
    </div>
{% endblock %}
